body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  text-align: center;
}

.content{
  margin-top: 30px;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.kanaImg{
  height: 100px;
}

.kanaEn{
  font-size: 5.4rem;
}

.kanaJpn{
  font-size: 5.4rem;
  height: 100px;
  margin-right: 20px;
}

.nextKana {
}

.nextKana button{
  font-size: 1rem;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
}

.kanaJPN{
  margin-bottom: 40px;
}

.kanaInfo{
  margin-top: 10px;
}